<article>
    <header>
        <h1 class="text-[30px]/[32px] font-[700] mb-6">
            Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et.
        </h1>
    </header>
    <a class="font-[400] text-[16px]/[24px]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque
        sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis
        imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh,
        at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam
        condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id.
    </a>
</article>
<div class="flex flex-nowrap overflow-x-auto">
    <app-carousel-page class="mt-[48px] mb-[32px]" *ngFor="let _ of [0,1,2,3]"></app-carousel-page>
</div>
