<article class="py-8 px-5 bg-[#FFFFFF] rounded-[8px] border border-[#E4E4E7] shadow-sm">
    <figure class="flex justify-center pb-8">
        <img src="assets/images/Image.png" alt="first header image">
    </figure>
    <header class="flex px-2">
        <p>
            <img src="/assets/icons/calendar-icon.png" alt="calendar icon" class="w-[32px] h-[32px]" aria-hidden="true">
        </p>
        <h2 class="px-2 font-[700]">
            Lorem ipsum dolor sit amet.
        </h2>
    </header>
    <p class="px-2 py-4 font-sans font-bold text-[24px] leading-[28px] tracking-normal">
        Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit </p>
    <footer class="px-2 text-[#343A40]">
        <a>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
            Pellentesque
            sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus.
            Nullam quis
            imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque
            nibh nibh,
            at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci
            ut diam
            condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id. </a>
    </footer>
    <footer class="flex justify-end mt-4">
        <button class="h-10 px-2 bg-[#E4002B] text-white font-bold rounded-lg flex items-center justify-center">
            Lorem ipsum.
        </button>
    </footer>
</article>