<div class="relative w-[284px] h-[378px] md:w-[360px] md:h-[480px] me-[32px] ">
    <img src="/assets/images/image.png" alt="image-carousel"
        class="w-full h-[378px] md:h-[480px] object-cover rounded-[8px]">
    <div class="absolute flex inset-0 flex-col justify-end py-3 ps-4 rounded-[8px] bg-gradient-to-t from-black/85">
        <header>
            <h1 class="font-[700] text-[30px]/[38px] text-[#FFFFFF] mb-2">
                Lorem ipsum
            </h1>
            <span class="font-[400] text-[16px]/[24px] text-[#FFFFFF] ">
                Lorem ipsum dolor sit amet consectetur.
            </span>
        </header>
        <footer class="mt-[25px] mb-[16px] flex cursor-pointer">
            <span class="font-[700] text-[16px]/[24px] text-[#FFFFFF] pe-1">Lorem ipsum</span>
            <img src="/assets/icons/download-icon.svg" alt="" aria-hidden="true" class="w-[24px] h-[24px]">
        </footer>
    </div>

</div>