<main class="min-h-screen">
    <section class="bg-[#F4F4F5]">
        <div class="px-[20px] lg:px-[133.5px] py-8 lg:py-[96px]">
            <app-main-banner></app-main-banner>
        </div>
    </section>
    <section class="bg-[#FFFFFF]">
        <div class="px-[20px] lg:px-[133.5px] py-8">
            <app-posts-page></app-posts-page>
        </div>
    </section>
    <section class="bg-[#FFFFFF]">
        <div class="px-[20px] lg:px-[133.5px]">
           <app-footer-page></app-footer-page>
        </div>
    </section>
</main>