<article>
    <h1 class="font-[700] text-[30px]/[32px] md:text-[48px]/[58px] pb-[24px]">Lorem ipsum dolor sit</h1>
    <div class="md:flex justify-between">
        <h2 class="font-[400] text-[18px]/[27px] pb-[10px]">Lorem ipsum dolor sit</h2>
        <div class="relative mb-[48px]">
            <div class="absolute inset-y-0 flex items-center py-3 ps-4">
                <img src="/assets/icons/magnifying-icon.svg" alt="" aria-hidden="true" class="w-[16px] h-[16px]">
            </div>
            <input type="search" class="bg-[#F4F4F5] px-4 w-[420px] h-[40px] md:w-[300px] md:h-[40px] rounded-lg">
        </div>
    </div>

    <!-- Muestro 4 veces el componente de las cards porque son identicos en tablet y movil-->
    <div class="md:grid md:grid-rows-2 md:grid-flow-col lg:hidden">
        <div class="my-8" *ngFor="let _ of [0,1,2,3]">
            <app-cards-page></app-cards-page>
        </div>

    </div>
    <!-- NO ES LA MEJOR OPCION PORQUE NO ES BUENO RENDERIZAR 2 VECES PERO NO
     ESTOY SEGURO DE SI TIENE QUE SACAR 4 O 6 -->
    <!-- Muestro 6 veces el componente de las cards porque son identicos en ordenador -->
    <div class="md:grid md:grid-rows-2 md:grid-flow-col md:hidden lg:grid">
        <div class="my-8" *ngFor="let _ of [0,1,2,3,4,5]">
            <app-cards-page></app-cards-page>
        </div>
    </div>

</article>