<article>
    <figure class="flex justify-center">
        <img src="assets/images/Image.png" alt="card image">
    </figure>
    <header class="flex py-[16px]">
        <p>
            <img src="/assets/icons/calendar-icon.png" alt="calendar icon" w-[24px] h-[24px] aria-hidden="true">
        </p>
        <h2 class="px-2 font-[700] text-[16px]/[24px]">
            Lorem ipsum dolor sit amet.
        </h2>
    </header>
    <p class="pb-4 font-sans font-bold font-[700] text-[23px] leading-[25px] tracking-normal">
        Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et.
    <footer class="text-[#343A40] w-[420px]">
        <a class="line-clamp-6 font-[400] text-[16px]/[24px]">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
            Pellentesque
            sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus.
            Nullam quis
            imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque
            nibh nibh,
            at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci
            ut diam
            condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id. 
        </a>
    </footer>

</article>